@import url('catppuccin.css');
@font-face {
	font-family: 'CascadiaCode';
	src: url(CascadiaCode.woff2);
}
body {
    background-color: var(--ctp-macchiato-crust);
    color: var(--ctp-macchiato-text);
    margin: 0;
    padding: 0;
	  font-family: CascadiaCode,monospace;
}
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: var(--ctp-macchiato-base);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px var(--ctp-macchiato-crust);
}
  .header {
    font-size: 150%;
    font-weight: bold;
}
  .info-box {
    font-size: 10;
    margin: 20px;
}
  .links a {
	  margin: 0 10px;
}
  .footer {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    max-width: 300px;
    background-color: var(--ctp-macchiato-base);
    padding: 1px 12px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px var(--ctp-macchiato-crust);
    text-align: center;
    font-size: 65%;
    line-height: 1;
}
/*@media (max-height: 320px) {
  .footer {
    display: none;
  }
} */
  a {
    color: var(--ctp-macchiato-pink);
}